<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title><%=title%></title>
        <link rel="stylesheet" type="text/css" href="/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="/css/global.css" />
       <script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
        <script type="text/javascript" src="/js/admin.js"></script>
        
    </head>
    <body>
        <% include common/header.ejs %>
        <div class="outer adminInput">
            <h1><%=title%></h1>
            <form action="/admin/movie/new" method="post">
                <input type="hidden", name="movie[_id]", value="<%= movie._id %>"  />
                <label for="douban">
                    <span>豆瓣同步</span>
                    <input id="douban" type="text"/>
                </label>
                <label for="inputTitle">
                    <span>电影名字</span>
                    <input id="inputTitle" type="text" name="movie[title]" value="<%= movie.title%>" />
                </label>
                <label for="inputDoctor">
                    <span>电影导演</span>
                    <input id="inputDoctor" type="text" name="movie[doctor]" value="<%= movie.doctor%>" />
                </label>
                <label for="inputCountry">
                    <span>国家</span>
                    <input id="inputCountry" type="text" name="movie[country]" value="<%= movie.country%>" />
                </label>
                <label for="inputLanguage">
                    <span>语种</span>
                    <input id="inputLanguage" type="text" name="movie[language]" value="<%= movie.language%>" />
                </label>
                <label for="inputPoster">
                    <span>海报地址</span>
                    <input id="inputPoster" type="text" name="movie[poster]" value="<%= movie.poster%>" />
                </label>
                <label for="inputLanguage">
                    <span>片源地址</span>
                    <input id="inputFlash" type="text" name="movie[flash]" value="<%= movie.flash%>" />
                </label>
                <label for="inputYear">
                    <span>上映年代</span>
                    <input id="inputYear" type="text" name="movie[year]" value="<%= movie.year%>" />
                </label>
                <label for="inputSummary">
                    <span class="intro">电影简介</span>
                    <textarea id="inputSummary" type="text" name="movie[summary]" value="<%= movie.summary%>" class="summary"></textarea>
                </label>
                <input type="submit" value="录入" class="write"/>

            </form>
        </div>
    </body>
</html>